
h1 {
  text-align: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#map {
  height: 600px;
  width: 900px;
  margin: auto;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #625A8C;
    color: #FBB655;
}
