
h1 {
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#map {
  height: 100%;
  margin-left: 2em;
  border: 3px solid white;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #625A8C;
    color: #FBB655;
}

#map-container {
  height: 600px;
}

#map-row {
  background: #625A8C;
  color: rgb(251, 242, 228);
  padding-top: 1em;
  padding-bottom: 1em;
}

#map-content {
  padding-left: 2em;
  padding-right: 2em;
}

#content-title {
  font-size: 28px;
}

#content-image {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
  /*border: 1px solid white;*/
}

#logo {
  margin-bottom: 1em;
}
